* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: hsl(0, 0%, 100%);
	background-color: hsl(0, 0%, 8%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Inter", sans-serif;
	width: 100%;
	margin: 80px 0;
}

section {
	background-color: hsl(0, 0%, 12%);
	border-radius: 30px;
	padding: 40px 50px 36px;
	margin-bottom: 80px;
}

.avatar {
	display: flex;
	justify-content: center;
}

.hero {
	width: 100%;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	margin: 0px 0 32px 0;
}

.domicilio {
	color: hsl(75, 94%, 57%);
	font-weight: 700;
	padding: 10px 0 25px 0;
	align-items: center;
}

.perfil {
	font-size: 14px;
	display: flex;
	flex-direction: column;
  align-items: center;
	justify-content: space-evenly;
  padding-bottom: 12px;
}

.container-buttons {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

button {
	color: hsl(0, 0%, 100%);
	background-color: hsl(0, 0%, 20%);
	font-weight: 700;
	text-align: center;
	padding: 15px 0;
	border-radius: 8px;
	border: none;
	margin: 8px 0;
	width: 317px;
  cursor: pointer;
}

button:hover {
background-color: hsl(75, 94%, 57%);
color: hsl(0, 0%, 8%);;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
